<h1>All Patients</h1>

<dl>
    <% @patients.each do |patient| %>
        <dt><%= patient.first_name + " " + patient.last_name %></dt>
        <dd><%= "Age: " + age(patient.id).to_s %></dd>
    <% end %>
</dl>

<a><%= link_to 'New Patient', new_patient_path %></a>