<h1>All Patients</h1>

<dl>
    <% @patients.each do |patient| %>
        <dt><%= patient.first_name + " " + patient.last_name %></dt>
        <dd><%= "Age: " + age(patient.dob).to_s %> <br /> 
    <%= link_to "Delete Patient", patient_path(patient), method: :delete, data: {
    confirm: "Are you sure you want to permanently delete this patient?"
    }%><br /> <br /></dd>
    <% end %>
</dl>

<a><%= link_to 'New Patient', new_patient_path %></a>